/*CSS for Practice.html */
body {
	background-color: #F0F0F0;
	font-size: 24px;
	font-family: serif;
}

p {

}

h1 {
	font-family: helvetica, arial, sans-serif;
	font-size: 200%;
}

div {

}

span {
	font-weight: bolder;
	color: red;
}
